Repository jas88/FAnsiSql: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, dotnet-build

.pre-commit-config.yaml:

# Pre-commit hooks for FAnsiSql
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: Validate YAML syntax
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
        files: \.(ya?ml)$

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: \.(md|txt)$

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: \.(png|jpg|jpeg|gif|ico|svg)$

  # .NET specific checks
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln)$
        pass_filenames: false
        description: Run dotnet format to check code formatting

      - id: dotnet-build
        name: dotnet build
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln|props|targets)$
        pass_filenames: false
        description: Verify solution builds successfully

      - id: block-claude-authorship
        name: Block Claude co-authorship
        entry: scripts/git-hooks/commit-msg-no-claude.sh
        language: script
        stages: [commit-msg]
        description: Prevent commits with Claude co-authorship

Fix GetRuntimeName to respect database-specific IllegalNameChars
  FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  FAnsi.Sqlite/SqliteQuerySyntaxHelper.cs
  Tests/FAnsiTests/Database/DiscoverTablesTests.cs
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Fix IllegalNameChars check to run after unwrapping identifiers
  FAnsi.Core/Discovery/QuerySyntaxHelper.cs
Due: dotnet-format, dotnet-build

Remove IllegalNameChars validation to allow special characters in quoted identifiers
  FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Update tests to reflect that all databases now allow special characters
  Tests/FAnsiTests/Database/DiscoverTablesTests.cs
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Fix Oracle test failure - Oracle uppercases unquoted identifiers
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Rename tests and update documentation to reflect special character support
  Tests/FAnsiTests/Database/DiscoverTablesTests.cs
Due: dotnet-format, dotnet-build

Fix GetRuntimeName to allow special characters in quoted identifiers (#76)
  FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  Tests/FAnsiTests/Database/DiscoverTablesTests.cs
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Add Npgsql 10.0 date/time type support
  FAnsi.PostgreSql/PostgreSqlTypeTranslater.cs
  Tests/FAnsiTests/Aggregation/AggregationTests.cs
Due: dotnet-format, dotnet-build

Add DateOnly/TimeOnly support and fix duplicate type checks
  FAnsi.Core/Discovery/TypeTranslation/TypeTranslater.cs
Due: dotnet-format, dotnet-build

Update CHANGELOG for Npgsql 10.0 compatibility
  CHANGELOG.md
Due: none

Remove debug output and reduce CI test verbosity
  .github/workflows/dotnet-core.yml
  FAnsi.Core/Discovery/DiscoveredDatabaseHelper.cs
  FAnsi.Core/Discovery/TypeTranslation/TypeTranslater.cs
Due: dotnet-format, dotnet-build

Remove transaction debug output from tests
  Tests/FAnsiTests/Table/BulkCopyTestsBase.cs
Due: dotnet-format, dotnet-build

Add dynamic SupportedNonEolTargetFrameworks property
  Directory.Build.targets
Due: dotnet-build

Reduce test verbosity to minimal
  .github/workflows/dotnet-core.yml
Due: none

Switch to fixture-level test parallelization
  coverage.runsettings
Due: none

Enable SQLite DROP COLUMN tests
  Tests/FAnsiTests/Table/TableHelperColumnOperationTestsBase.cs
  Tests/FAnsiTests/Table/TableHelperColumnOperationTests_Sqlite.cs
Due: dotnet-format, dotnet-build

Remove legacy preprocessor directives from test suite
  Tests/FAnsiTests/CrossPlatformTests_MicrosoftSql.cs
  Tests/FAnsiTests/CrossPlatformTests_MySql.cs
  Tests/FAnsiTests/CrossPlatformTests_Oracle.cs
  Tests/FAnsiTests/CrossPlatformTests_PostgreSql.cs
  Tests/FAnsiTests/CrossPlatformTests_Sqlite.cs
  Tests/FAnsiTests/Database/DatabaseLevelTests.cs
  Tests/FAnsiTests/Equality/EqualityTests_TableAndColumn.cs
  Tests/FAnsiTests/ManagedConnectionTests_MicrosoftSql.cs
  Tests/FAnsiTests/ManagedConnectionTests_MySql.cs
  Tests/FAnsiTests/ManagedConnectionTests_Oracle.cs
  Tests/FAnsiTests/ManagedConnectionTests_PostgreSql.cs
  Tests/FAnsiTests/ManagedConnectionTests_Sqlite.cs
  Tests/FAnsiTests/Parameters/ParameterTests.cs
  Tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
  Tests/FAnsiTests/Server/ConnectionStringKeywordAccumulatorTests.cs
  Tests/FAnsiTests/Server/ServerTests.cs
  Tests/FAnsiTests/Table/BasicInsertTests.cs
  Tests/FAnsiTests/Table/BulkInsertErrorEnhancementTest.cs
  Tests/FAnsiTests/Table/CreateTableTests.cs
  Tests/FAnsiTests/TypeTranslation/TypeTranslaterUnitTests.cs
Due: dotnet-format, dotnet-build

Refactor ServerTests to per-database pattern
  Tests/FAnsiTests/Server/CrossDatabaseServerTests.cs
  Tests/FAnsiTests/Server/ServerTestsBase.cs
  Tests/FAnsiTests/Server/ServerTests_MicrosoftSql.cs
  Tests/FAnsiTests/Server/ServerTests_MySql.cs
  Tests/FAnsiTests/Server/ServerTests_Oracle.cs
  Tests/FAnsiTests/Server/ServerTests_PostgreSql.cs
  Tests/FAnsiTests/Server/ServerTests_Sqlite.cs
  Tests/FAnsiTests/TestGeneration/GeneratePerDatabaseTestsAttribute.cs
Due: dotnet-format, dotnet-build

Add reflection-based test discovery with compile-time filtering
  Tests/FAnsiTests/Server/ServerTests.cs
  Tests/FAnsiTests/Server/ServerTestsBase.cs
  Tests/FAnsiTests/TestGeneration/OnlyDatabaseAttribute.cs
  Tests/FAnsiTests/TestGeneration/SkipDatabaseAttribute.cs
Due: dotnet-format, dotnet-build

Fix SQLite calendar day aggregation test
  Tests/FAnsiTests/Aggregation/AggregationTests.cs
  Tests/FAnsiTests/Aggregation/CalendarAggregationTestsBase.cs
  Tests/FAnsiTests/Aggregation/CalendarAggregationTests_Sqlite.cs
Due: dotnet-format, dotnet-build

Replace manual per-database test files with T4 code generation
  Tests/FAnsiTests/Server/README.md
  Tests/FAnsiTests/Server/ServerTests.cs
  Tests/FAnsiTests/Server/ServerTests.g.cs
  Tests/FAnsiTests/Server/ServerTests.tt
  Tests/FAnsiTests/Server/ServerTests_MicrosoftSql.cs
  Tests/FAnsiTests/Server/ServerTests_MySql.cs
  Tests/FAnsiTests/Server/ServerTests_Oracle.cs
  Tests/FAnsiTests/Server/ServerTests_PostgreSql.cs
  Tests/FAnsiTests/Server/ServerTests_Sqlite.cs
Due: dotnet-format, dotnet-build

Simplify T4 workflow - keep generated file in git
  Tests/FAnsiTests/Server/ServerTests.tt
Due: none

Fix test failures and update TypeGuesser to 2.0.4
  FAnsi.Core/FAnsi.Core.csproj
  FAnsi.Sqlite/SqliteServerHelper.cs
  Tests/FAnsiTests/DatabaseTests.cs
  Tests/FAnsiTests/Server/ServerTests.g.cs
  Tests/FAnsiTests/Server/ServerTests.tt
  Tests/FAnsiTests/Server/ServerTestsBase.cs
Due: dotnet-format, dotnet-build

Fix string-to-DateTime comparison for SQLite cross-database tests
  Tests/FAnsiTests/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Address Copilot review comments
  .github/workflows/dotnet-core.yml
  src/FAnsi.Oracle/README.md
Due: none

Update PackageListIsCorrectTests for central package management
  Packages.md
  tests/FAnsiTests/PackageListIsCorrectTests.cs
Due: dotnet-format, dotnet-build

Fix multi-targeting and remove SharedAssemblyInfo.cs reference from Pack step
  .github/workflows/dotnet-core.yml
  Directory.Build.props
Due: dotnet-build

Fix paths after directory reorganization
  src/FAnsi.Core/FAnsi.Core.csproj
  src/FAnsi.Legacy/FAnsi.Legacy.csproj
  src/FAnsi.MicrosoftSql/FAnsi.MicrosoftSql.csproj
  src/FAnsi.MySql/FAnsi.MySql.csproj
  src/FAnsi.Oracle/FAnsi.Oracle.csproj
  src/FAnsi.PostgreSql/FAnsi.PostgreSql.csproj
  src/FAnsi.Sqlite/FAnsi.Sqlite.csproj
Due: dotnet-format, dotnet-build

Add CHANGELOG linter and fix existing issues
  CHANGELOG.md
  scripts/lint-changelog.pl
Due: none

Reconcile CHANGELOG: move current work to 3.6.1, add actual 3.6.0 release notes
  CHANGELOG.md
Due: none

Add automatic link sorting to changelog linter
  CHANGELOG.md
  scripts/lint-changelog.pl
Due: none

Add CHANGELOG linter and fix existing issues (#79)
  CHANGELOG.md
  scripts/lint-changelog.pl
Due: none

Refactor MySQL bulk copy to use native MySqlConnector.MySqlBulkCopy API
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Update CHANGELOG for MySQL bulk copy performance improvement
  CHANGELOG.md
Due: none

Fix MySQL bulk copy CI failures and address review feedback
  CHANGELOG.md
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.MySql/MySqlServerHelper.cs
Due: dotnet-format, dotnet-build

Enable local_infile on MySQL server in CI
  .github/workflows/dotnet-core.yml
Due: none
