Repository jas88/FAnsiSql: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, dotnet-build

.pre-commit-config.yaml:

# Pre-commit hooks for FAnsiSql
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: Validate YAML syntax
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
        files: \.(ya?ml)$

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: \.(md|txt)$

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: \.(png|jpg|jpeg|gif|ico|svg)$

  # .NET specific checks
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln)$
        pass_filenames: false
        description: Run dotnet format to check code formatting

      - id: dotnet-build
        name: dotnet build
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln|props|targets)$
        pass_filenames: false
        description: Verify solution builds successfully

      - id: block-claude-authorship
        name: Block Claude co-authorship
        entry: scripts/git-hooks/commit-msg-no-claude.sh
        language: script
        stages: [commit-msg]
        description: Prevent commits with Claude co-authorship

Fix connection pool handling when database is dropped
  FAnsi.MicrosoftSql/MicrosoftSQLServerHelper.cs
Due: dotnet-format, dotnet-build

Fix whitespace formatting and pre-commit hook
  Tests/FAnsiTests/CrossPlatformTests.cs
  scripts/git-hooks/pre-commit-dotnet.sh
Due: dotnet-format, dotnet-build

Fix ManagedConnectionPool using cache key instead of connection string
  FAnsi.Core/Connections/ManagedConnectionPool.cs
  FAnsi.Core/Discovery/Queryable/FAnsiExpressionVisitor.cs
  FAnsi.Core/Discovery/Queryable/FAnsiQueryProvider.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlColumnQueryProvider.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlDatabaseQueryProvider.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlTableQueryProvider.cs
  Tests/FAnsiTests/TestDatabases-github.xml
Due: dotnet-format, dotnet-build

Remove unused LINQ query provider - eliminate all AOT warnings
  FAnsi.Core/Discovery/DiscoveredServerHelper.cs
  FAnsi.Core/Discovery/DiscoveredTable.cs
  FAnsi.Core/Discovery/IDiscoveredServerHelper.cs
  FAnsi.Core/Discovery/Queryable/FAnsiExpressionVisitor.cs
  FAnsi.Core/Discovery/Queryable/FAnsiQueryProvider.cs
  FAnsi.Core/Discovery/Queryable/FAnsiQueryable.cs
  FAnsi.Core/Discovery/Queryable/ISqlQueryBuilder.cs
  FAnsi.Core/Discovery/Queryable/QueryComponents.cs
  FAnsi.MicrosoftSql/MicrosoftSQLServerHelper.cs
  FAnsi.MicrosoftSql/Queryable/SqlServerQueryBuilder.cs
  FAnsi.MySql/MySqlServerHelper.cs
  FAnsi.MySql/Queryable/MySqlColumnQueryProvider.cs
  FAnsi.MySql/Queryable/MySqlDatabaseQueryProvider.cs
  FAnsi.MySql/Queryable/MySqlQueryBuilder.cs
  FAnsi.MySql/Queryable/MySqlTableQueryProvider.cs
  FAnsi.Oracle/OracleServerHelper.cs
  FAnsi.Oracle/Queryable/OracleQueryBuilder.cs
  FAnsi.PostgreSql/PostgreSqlServerHelper.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlColumnQueryProvider.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlDatabaseQueryProvider.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlQueryBuilder.cs
  FAnsi.PostgreSql/Queryable/PostgreSqlTableQueryProvider.cs
  scripts/git-hooks/pre-commit-dotnet.sh
Due: dotnet-format, dotnet-build

Add SQLite to cross-platform test coverage
  Tests/FAnsiTests/All.cs
  Tests/FAnsiTests/CrossPlatformTests.cs
Due: dotnet-format, dotnet-build

Temporarily disable thread-local connection pooling
  FAnsi.Core/Connections/ManagedConnectionPool.cs
  FAnsi.Core/Discovery/DatabaseColumnRequest.cs
  FAnsi.Core/Discovery/DiscoveredTable.cs
  FAnsi.Core/Discovery/DiscoveredTableHelper.cs
  FAnsi.Core/Discovery/QuerySyntax/Aggregation/AggregateHelper.cs
  FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  FAnsi.Core/Discovery/TypeTranslation/TypeTranslater.cs
  Tests/FAnsiTests/ManagedConnectionTests.cs
Due: dotnet-format, dotnet-build

Add SQLite test configuration and enhance BulkCopy error reporting
  FAnsi.Sqlite/SqliteBulkCopy.cs
  Tests/FAnsiTests/CrossPlatformTests.cs
  Tests/FAnsiTests/TestDatabases-github.xml
  Tests/FAnsiTests/TestDatabases.xml
Due: dotnet-format, dotnet-build

Fix BulkCopy colid mapping to use table order and all warnings
  FAnsi.MicrosoftSql/Aggregation/MicrosoftSQLAggregateHelper.cs
  FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  FAnsi.MicrosoftSql/MicrosoftSQLColumnHelper.cs
  FAnsi.MicrosoftSql/MicrosoftSQLDatabaseHelper.cs
  FAnsi.MicrosoftSql/MicrosoftSQLTableHelper.cs
  FAnsi.Oracle/Aggregation/OracleAggregateHelper.cs
  FAnsi.Oracle/OracleBulkCopy.cs
  FAnsi.PostgreSql/Aggregation/PostgreSqlAggregateHelper.cs
  Tests/FAnsiTests/ManagedConnectionTests.cs
Due: dotnet-format, dotnet-build

Load SqliteImplementation in test setup
  Tests/FAnsiTests/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Potential fix for code scanning alert no. 68: Dereferenced variable may be null
  FAnsi.Core/Connections/ManagedConnectionPool.cs
Due: dotnet-format, dotnet-build

Potential fix for code scanning alert no. 74: Missed ternary opportunity
  FAnsi.Oracle/OracleTableHelper.cs
Due: dotnet-format, dotnet-build

Add automatic implementation registration via ModuleInitializer
  FAnsi.Core/Implementation/ImplementationManager.cs
  FAnsi.Legacy/AutoLoadAllImplementations.cs
  FAnsi.MicrosoftSql/MicrosoftSQLImplementation.cs
  FAnsi.MySql/MySqlImplementation.cs
  FAnsi.Oracle/OracleImplementation.cs
  FAnsi.PostgreSql/PostgreSqlImplementation.cs
  FAnsi.Sqlite/SqliteImplementation.cs
  Tests/FAnsiTests/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Implement AOT-compatible automatic implementation loading
  FAnsi.Legacy/AutoLoadAllImplementations.cs
  Tests/FAnsiTests/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Fix GetTestScratchDatabaseName to not connect to database
  Tests/FAnsiTests/Parallel/SharedDatabaseTests.cs
Due: dotnet-format, dotnet-build

Add proof-of-concept for parallel test execution
  Tests/FAnsiTests/Parallel/SharedDatabaseTests.cs
  Tests/FAnsiTests/Parallel/SqlServerParallelTests.cs
Due: dotnet-format, dotnet-build

Add MySQL, Oracle, and PostgreSQL parallel test fixtures
  Tests/FAnsiTests/Parallel/MySqlParallelTests.cs
  Tests/FAnsiTests/Parallel/OracleParallelTests.cs
  Tests/FAnsiTests/Parallel/PostgreSqlParallelTests.cs
Due: dotnet-format, dotnet-build

Update CHANGELOG for v3.3.2 release
  CHANGELOG.md
Due: none

Add CHANGELOG entry for parallel testing infrastructure
  CHANGELOG.md
Due: none

Update CHANGELOG for v3.3.2 release (#34)
  CHANGELOG.md
Due: none

Split test projects for parallel execution
  FAnsi.sln
  Tests/FAnsi.Core.Tests/All.cs
  Tests/FAnsi.Core.Tests/FAnsi.Core.Tests.csproj
  Tests/FAnsi.Core.Tests/TestDatabases.xml
  Tests/FAnsi.MicrosoftSql.Tests/All.cs
  Tests/FAnsi.MicrosoftSql.Tests/FAnsi.MicrosoftSql.Tests.csproj
  Tests/FAnsi.MicrosoftSql.Tests/TestDatabases.xml
  Tests/FAnsi.MySql.Tests/All.cs
  Tests/FAnsi.MySql.Tests/FAnsi.MySql.Tests.csproj
  Tests/FAnsi.MySql.Tests/TestDatabases.xml
  Tests/FAnsi.Oracle.Tests/All.cs
  Tests/FAnsi.Oracle.Tests/FAnsi.Oracle.Tests.csproj
  Tests/FAnsi.Oracle.Tests/TestDatabases.xml
  Tests/FAnsi.PostgreSql.Tests/All.cs
  Tests/FAnsi.PostgreSql.Tests/FAnsi.PostgreSql.Tests.csproj
  Tests/FAnsi.PostgreSql.Tests/TestDatabases.xml
  Tests/FAnsi.Sqlite.Tests/All.cs
  Tests/FAnsi.Sqlite.Tests/FAnsi.Sqlite.Tests.csproj
  Tests/FAnsi.Sqlite.Tests/TestDatabases.xml
  Tests/Shared/CrossPlatformTests.cs
  Tests/Shared/DatabaseTests.cs
  Tests/Shared/ManagedConnectionTests.cs
  Tests/Shared/TypeTranslation/DatabaseTypeRequestTests.cs
  Tests/Shared/TypeTranslation/DatatypeComputerTests.cs
  Tests/Shared/TypeTranslation/GuesserExtensions.cs
  Tests/Shared/TypeTranslation/TypeTranslaterTests.cs
  Tests/Shared/TypeTranslation/TypeTranslaterUnitTests.cs
Due: dotnet-format, dotnet-build

Add MinVer for automatic versioning from git tags
  Directory.Build.props
Due: dotnet-build

Use Assert.Ignore instead of Assert.Inconclusive for missing databases
  Tests/Shared/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Test database connectivity in OneTimeSetUp and skip if unavailable
  Tests/Shared/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Fix Oracle connection string to match CI Docker service name
  Tests/FAnsi.Oracle.Tests/TestDatabases.xml
Due: none

Enable explicit parallel test execution
  .github/workflows/dotnet-core.yml
  Directory.Packages.props
Due: dotnet-build

Fix parallel test execution configuration
  .github/workflows/dotnet-core.yml
Due: none

Use apt-installed PostgreSQL instead of Docker for faster CI
  .github/workflows/dotnet-core.yml
Due: none

Consolidate database setup and remove PostgreSQL Docker service
  .github/workflows/dotnet-core.yml
Due: none

Consolidate all apt-get install calls for faster CI
  .github/workflows/dotnet-core.yml
Due: none

Add apt package caching for faster CI database setup
  .github/workflows/dotnet-core.yml
Due: none

Add NuGet caching and use faster Oracle image
  .github/workflows/dotnet-core.yml
Due: none

Use unique scratch database per test project for parallel execution
  Tests/FAnsi.Oracle.Tests/TestDatabases.xml
Due: none

Revert "Use unique scratch database per test project for parallel execution"
  Tests/FAnsi.Oracle.Tests/TestDatabases.xml
Due: none

Remove ParallelizeTestCollections to prevent test interference
  .github/workflows/dotnet-core.yml
Due: none

Add NUnit assembly-level sequential execution attributes
  Tests/FAnsi.Core.Tests/AssemblyInfo.cs
  Tests/FAnsi.MicrosoftSql.Tests/AssemblyInfo.cs
  Tests/FAnsi.MySql.Tests/AssemblyInfo.cs
  Tests/FAnsi.Oracle.Tests/AssemblyInfo.cs
  Tests/FAnsi.PostgreSql.Tests/AssemblyInfo.cs
  Tests/FAnsi.Sqlite.Tests/AssemblyInfo.cs
Due: dotnet-format, dotnet-build

Update Oracle connection string for gvenzl/oracle-xe image
  Tests/FAnsi.Oracle.Tests/TestDatabases.xml
Due: none

Add CI optimizations: split package caching, faster Oracle, NUnit sequential
  .github/workflows/dotnet-core.yml
Due: none

Fix FAnsi.Core.Tests to have no database types
  Tests/FAnsi.Core.Tests/All.cs
Due: dotnet-format, dotnet-build

Re-enable SQL Server in apt cache with quoted repository URL
  .github/workflows/dotnet-core.yml
Due: none
