Repository jas88/FAnsiSql: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, dotnet-build

dotnet-format:
  name: dotnet format
  entry: scripts/git-hooks/pre-commit-dotnet.sh
  language: script
  pass_filenames: false
  description: Run dotnet format to check code formatting

dotnet-build:
  name: dotnet build
  entry: scripts/git-hooks/pre-commit-dotnet.sh
  language: script
  pass_filenames: false
  description: Verify solution builds successfully

Use MySQL config file for local_infile instead of runtime SQL
  .github/workflows/dotnet-core.yml
Due: none

Remove duplicate ConvertStringTypesToHardTypes calls
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
Due: dotnet-format, dotnet-build

Enable STRICT_TRANS_TABLES for MySQL bulk copy to match SQL Server error behavior
  CHANGELOG.md
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Add fallback to batched INSERT when local_infile is disabled
  CHANGELOG.md
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Add client-side validation for MySQL bulk copy
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Fix MySQL bulk copy test failures
  src/FAnsi.MySql/MySqlBulkCopy.cs
  tests/FAnsiTests/Table/BulkInsertTest.cs
Due: dotnet-format, dotnet-build

Fix SQLite bulk copy to call base class Upload
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
Due: dotnet-format, dotnet-build

Consolidate MySQL bulk copy validation into single pass
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Refactor MySQL bulk copy to use native MySqlConnector.MySqlBulkCopy API (#80)
  .github/workflows/dotnet-core.yml
  CHANGELOG.md
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.MySql/MySqlServerHelper.cs
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
  tests/FAnsiTests/Table/BulkInsertTest.cs
Due: dotnet-format, dotnet-build

Consolidate BulkCopy validation into single-pass base class implementation
  CHANGELOG.md
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.Oracle/OracleBulkCopy.cs
  src/FAnsi.PostgreSql/PostgreSqlBulkCopy.cs
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
Due: dotnet-format, dotnet-build

Fix decimal precision calculation and update test assertions
  src/FAnsi.Core/Discovery/BulkCopy.cs
  tests/FAnsiTests/Table/BulkInsertTest.cs
Due: dotnet-format, dotnet-build

Fix ulong handling and improve error message wording
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
Due: dotnet-format, dotnet-build

Fix decimal precision calculation in BulkCopy validation
  src/FAnsi.Core/Discovery/BulkCopy.cs
Due: dotnet-format, dotnet-build

Consolidate BulkCopy validation into single-pass base class (#82)
  CHANGELOG.md
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.Oracle/OracleBulkCopy.cs
  src/FAnsi.PostgreSql/PostgreSqlBulkCopy.cs
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
  tests/FAnsiTests/Table/BulkInsertTest.cs
Due: dotnet-format, dotnet-build

Fix GetRuntimeName handling of dots inside wrapped identifiers
  src/FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  src/FAnsi.Sqlite/SqliteQuerySyntaxHelper.cs
  tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Fix GetRuntimeName handling of dots inside wrapped identifiers (#83)
  src/FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  src/FAnsi.Sqlite/SqliteQuerySyntaxHelper.cs
  tests/FAnsiTests/Query/QuerySyntaxHelperTests.cs
Due: dotnet-format, dotnet-build

Fix integer overflow in decimal precision validation
  CHANGELOG.md
  src/FAnsi.Core/Discovery/BulkCopy.cs
Due: dotnet-format, dotnet-build

Fix numeric validation for full SQL range support
  CHANGELOG.md
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Fix integer overflow in decimal precision validation (#84)
  CHANGELOG.md
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
Due: dotnet-format, dotnet-build

Prepare release 3.6.2
  CHANGELOG.md
Due: none

Normalize line endings to LF, add CHANGELOG linter to pre-commit
  .gitattributes
  .github/workflows/dotnet-core.yml
  .pre-commit-config.yaml
  Directory.Build.props
  global.json
  src/FAnsi.Core/FAnsi.Core.csproj
  src/FAnsi.MicrosoftSql/FAnsi.MicrosoftSql.csproj
  src/FAnsi.MySql/FAnsi.MySql.csproj
  src/FAnsi.Oracle/FAnsi.Oracle.csproj
  src/FAnsi.PostgreSql/FAnsi.PostgreSql.csproj
  src/FAnsi.Sqlite/FAnsi.Sqlite.csproj
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

Release 3.6.2 (#85)
  .gitattributes
  .github/workflows/dotnet-core.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Directory.Build.props
  global.json
  src/FAnsi.Core/FAnsi.Core.csproj
  src/FAnsi.MicrosoftSql/FAnsi.MicrosoftSql.csproj
  src/FAnsi.MySql/FAnsi.MySql.csproj
  src/FAnsi.Oracle/FAnsi.Oracle.csproj
  src/FAnsi.PostgreSql/FAnsi.PostgreSql.csproj
  src/FAnsi.Sqlite/FAnsi.Sqlite.csproj
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

Fix thread-safety issue in QuerySyntaxHelper factory cache
  src/FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  src/FAnsi.Core/Extensions/DataColumnExtensions.cs
Due: dotnet-format, dotnet-build

Adopt shared build-standards
  .github/workflows/dotnet-core.yml
  .gitmodules
  Directory.Build.props
  Directory.Packages.props
Due: dotnet-build

Add DotNet.ReproducibleBuilds to Packages.md
  Packages.md
Due: none

Adopt shared build-standards (#87)
  .github/workflows/dotnet-core.yml
  .gitmodules
  Directory.Build.props
  Directory.Packages.props
  Packages.md
Due: dotnet-build

Performance: CA1863/CA1510/CA1513/CA1845/CA1854 compliance and type refinements
  CHANGELOG.md
  src/FAnsi.Core/Connections/ManagedConnectionPool.cs
  src/FAnsi.Core/Discovery/BulkCopy.cs
  src/FAnsi.Core/Discovery/ConnectionStringDefaults/ConnectionStringKeywordAccumulator.cs
  src/FAnsi.Core/Discovery/DiscoveredDataType.cs
  src/FAnsi.Core/Discovery/DiscoveredDatabase.cs
  src/FAnsi.Core/Discovery/DiscoveredDatabaseHelper.cs
  src/FAnsi.Core/Discovery/DiscoveredServer.cs
  src/FAnsi.Core/Discovery/DiscoveredTable.cs
  src/FAnsi.Core/Discovery/DiscoveredTableHelper.cs
  src/FAnsi.Core/Discovery/QuerySyntaxHelper.cs
  src/FAnsi.Core/Discovery/TypeTranslation/TypeTranslater.cs
  src/FAnsi.Core/Implementation/ImplementationManager.cs
  src/FAnsi.MicrosoftSql/MicrosoftSQLBulkCopy.cs
  src/FAnsi.MicrosoftSql/MicrosoftSQLTableHelper.cs
  src/FAnsi.MySql/MySqlBulkCopy.cs
  src/FAnsi.Oracle/Aggregation/OracleAggregateHelper.cs
  src/FAnsi.Oracle/OracleBulkCopy.cs
  src/FAnsi.Oracle/OracleTableHelper.cs
  src/FAnsi.PostgreSql/PostgreSqlBulkCopy.cs
  src/FAnsi.PostgreSql/PostgreSqlTableHelper.cs
  src/FAnsi.PostgreSql/PostgreSqlTypeTranslater.cs
  src/FAnsi.Sqlite/SqliteBulkCopy.cs
  src/FAnsi.Sqlite/SqliteTableHelper.cs
  tests/FAnsiTests/Aggregation/PivotWithTopXTestsBase.cs
  tests/FAnsiTests/TypeTranslation/TypeTranslaterUnitTests.cs
Due: dotnet-format, dotnet-build

ci: Add ReSharper code inspection workflow
  .github/workflows/resharper.yml
Due: none

fix: Add build step before ReSharper inspection
  .github/workflows/resharper.yml
Due: none

fix: Add submodules: recursive to checkout steps
  .github/workflows/resharper.yml
Due: none

Clean up README badges
  README.md
Due: none

Add SonarCloud quality gate badge
  README.md
Due: none

Clean up README badges (#93)
  README.md
Due: none

Adopt Microsoft Testing Platform (MTP) for test execution
  .github/workflows/dotnet-core.yml
  Directory.Packages.props
  global.json
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

Path conditions:
  dotnet-format: any of: \.(cs|csproj|sln)$
  dotnet-build: any of: \.(cs|csproj|sln|props|targets)$
