Repository jas88/FAnsiSql: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, dotnet-build, lint-changelog

.pre-commit-config.yaml:

# Pre-commit hooks for FAnsiSql
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: Validate YAML syntax
        args: ['--unsafe']  # Allow custom tags in GitHub Actions
        files: \.(ya?ml)$

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: \.(md|txt)$

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: \.(png|jpg|jpeg|gif|ico|svg)$

  # .NET specific checks
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln)$
        pass_filenames: false
        description: Run dotnet format to check code formatting

      - id: dotnet-build
        name: dotnet build
        entry: scripts/git-hooks/pre-commit-dotnet.sh
        language: script
        files: \.(cs|csproj|sln|props|targets)$
        pass_filenames: false
        description: Verify solution builds successfully

      - id: block-claude-authorship
        name: Block Claude co-authorship
        entry: scripts/git-hooks/commit-msg-no-claude.sh
        language: script
        stages: [commit-msg]
        description: Prevent commits with Claude co-authorship

      - id: lint-changelog
        name: Lint CHANGELOG
        entry: perl scripts/lint-changelog.pl CHANGELOG.md
        language: system
        files: CHANGELOG\.md$
        pass_filenames: false
        description: Validate CHANGELOG format

Fix MTP detection for dotnet test CLI
  Directory.Build.targets
Due: dotnet-build

Document Microsoft.Extensions.DependencyModel in Packages.md
  Packages.md
Due: none

Fix SQLite CI config: use file-based database instead of in-memory
  tests/FAnsiTests/TestDatabases-github.xml
Due: none

Allow SQLite tests to skip in CI (known FAnsi limitation)
  tests/FAnsiTests/Aggregation/AggregationTests.cs
Due: dotnet-format, dotnet-build

Remove SQLite from CI configuration
  tests/FAnsiTests/Aggregation/AggregationTests.cs
  tests/FAnsiTests/TestDatabases-github.xml
Due: dotnet-format, dotnet-build

Allow SQLite tests to be inconclusive in CI
  tests/FAnsiTests/Aggregation/AggregationTests.cs
  tests/FAnsiTests/DatabaseTests.cs
Due: dotnet-format, dotnet-build

Fix coverage file collection for MTP
  .github/workflows/dotnet-core.yml
Due: none

Fix SQLite test handling with proper database resolution
  tests/FAnsiTests/Aggregation/AggregationTests.cs
  tests/FAnsiTests/DatabaseTests.cs
  tests/FAnsiTests/TestDatabases-github.xml
Due: dotnet-format, dotnet-build

Remove misleading --coverage-output parameter
  .github/workflows/dotnet-core.yml
Due: none

Adopt Microsoft Testing Platform (MTP) for test execution (#99)
  .github/workflows/dotnet-core.yml
  Directory.Build.targets
  Directory.Packages.props
  Packages.md
  global.json
  tests/FAnsiTests/Aggregation/AggregationTests.cs
  tests/FAnsiTests/DatabaseTests.cs
  tests/FAnsiTests/FAnsiTests.csproj
  tests/FAnsiTests/TestDatabases-github.xml
Due: dotnet-format, dotnet-build

Fix coverage file collection path for MTP
  .github/workflows/dotnet-core.yml
Due: none

Use explicit file glob for Codecov to find cobertura files
  .github/workflows/dotnet-core.yml
Due: none

Fail CI on coverage upload errors
  .github/workflows/dotnet-core.yml
Due: none

Fix coverage file collection path for MTP (#109)
  .github/workflows/dotnet-core.yml
Due: none

Fix Codecov token: pass as action input, not env var
  .github/workflows/dotnet-core.yml
Due: none

Skip Codecov upload when token is unavailable
  .github/workflows/dotnet-core.yml
Due: none

Fix secrets reference syntax in Codecov step condition
  .github/workflows/dotnet-core.yml
Due: none

Use env var to check Codecov token availability
  .github/workflows/dotnet-core.yml
Due: none

Add CHANGELOG note about new Microsoft.Data.SqlClient.Extensions.Azure separation
  CHANGELOG.md
Due: lint-changelog

fix(tests): replace obsolete NUnit TestDelegate with Action
  tests/FAnsiTests/Table/BulkCopyTestsBase.cs
Due: dotnet-format, dotnet-build

fix(deps): pin SQLitePCLRaw 3.0.3 to remove vulnerable e_sqlite3 lib (CVE-2025-6965)
  Directory.Packages.props
  src/FAnsi.Sqlite/FAnsi.Sqlite.csproj
Due: dotnet-format, dotnet-build

docs: document SQLitePCLRaw packages in PACKAGES.md
  Packages.md
Due: none

build: remove duplicate PackageReference entries (NU1504)
  src/FAnsi.Core/FAnsi.Core.csproj
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

fix(deps): pin SQLitePCLRaw 3.0.3 to remove vulnerable e_sqlite3 lib (CVE-2025-6965) (#166)
  Directory.Packages.props
  Packages.md
  src/FAnsi.Core/FAnsi.Core.csproj
  src/FAnsi.Sqlite/FAnsi.Sqlite.csproj
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

Revert Depdendabot duplication
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build

Remove duplicate MinVer package reference from project file
  src/FAnsi.Core/FAnsi.Core.csproj
Due: dotnet-format, dotnet-build

Remove dependabot duplicated CodeCoverage package reference
  tests/FAnsiTests/FAnsiTests.csproj
Due: dotnet-format, dotnet-build
